html {
  width: 100%;
  height: 100%;
  color: white;
  background-image: url(images/night.png);
  background-size: cover; /* Makes the image cover the entire area */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
}
