html {
  width: 100%;
  height: 100%;
  color: white;
  background-color: black;
  background-image: url(images/night.png);
  background-size: cover; /* Makes the image cover the entire area */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  font-family: "Nunito", serif;
}
.container {
  text-align: center;
}
.container h1 {
  font-size: 2.5rem;
  margin-bottom: -10px;
}
.container h2 {
  font-size: 1.8rem;
  margin-bottom: -20px;
}
.container .anime{
  font-size: 1.8rem;
}
.container p, p2{
  margin-bottom: -2px;
}
